.homepage {
  background: linear-gradient(
    158.86deg,
    #1c2a34 10.36%,
    #111a20 49.58%,
    #111a20 49.58%
  );
  width: 100%;
  height: auto;
}

.firstDiv{
    padding-left:27%;
    padding-top: 3%;
    font-family: Jost;
    font-style: normal;
    font-weight: bold;
    font-size: 34px;
    line-height: 142%;
    color: #B0FBBC;
    
}
.secondDiv{
    padding-left: 27%;
    font-family: Jost;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 180%;
    color: #ECF8FF;
}

.latestArticles{
    font-family: Jost;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 35px;
    color: #ECF8FF;
    margin: top 15%;
    padding-left: 27%;
    padding-right: 28%;
}
.articleDiv{
    display: flex;
    align-items: center;
    margin-top: 5%;
}

.innerarticleDiv{
    display: flex;
    align-items: center;
    font-family: Jost;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    color: #ECF8FF;
}

.icon{
    padding-left: 10px;
    color: rgba(124, 201, 255, 0.41);
    width: 14%;
}
.thirdDiv{
    padding-left:27%;
    font-family: Jost;
    font-style: normal;
}
.withIcon{
    font-weight: 500;
    font-size: 14px;
    line-height: 26px;
    color: #ECF8FF;
}

.withDate{          
    font-family: Jost;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;
    color: #5E8CA7;
    margin-left: 23px;
  
}
.icon1{
    color: black;
    background: yellow;
    margin-right: 10px;
}
.icon2{
    color:  #61DAFB;
    margin-right: 10px;
}
.icon3{
    color: #ECF8FF;
    background: rgb(206, 76, 76);
    margin-right: 10px;
}

.project{
    padding-left: 27%;
    font-family: Jost;
    font-weight: bold;
    font-size: 24px;
    color: #ECF8FF;
    margin-top: 7%;
}

.box1{
    margin-left: 27%;
    font-family: Jost;
    font-style: normal;
    color: #ECF8FF;
    width: 50%;
    height: 35vh;
    border-radius: 12px 12px 12px 12px;
    background: linear-gradient(
        0.0deg,
        #1c2a34 90.36%,
        #111a20 139.58%,
        #111a20 139.58%
      );
      border-left: solid #CCA9F4;
      border-left-width: 7px;
}

.box1Inner1{
    font-weight: 500;
    font-size: 20px;
    padding-top: 5%;
    padding-left: 5%;
}

.box1Inner2{
    font-weight: normal;
    font-size: 14px;
    padding-left: 5%;
}

.box2{
    margin-left: 27%;
    margin-top: 1%;
    font-family: Jost;
    font-style: normal;
    color: #ECF8FF;
    width: 24.2%;
    height: 35vh;
    border-radius: 12px 12px 12px 12px;
    background: linear-gradient(
        0.0deg,
        #1c2a34 90.36%,
        #111a20 139.58%,
        #111a20 139.58%
      );
      border-left: solid #81F59B;;
      border-left-width: 7px;
}

.box2Inner1{
    font-weight: 500;
    font-size: 20px;
    padding-top: 5%;
    padding-left: 5%;
    margin-top: 5%;
}

.box3{
    margin-left: 1%;
    margin-top: 1%;
    font-family: Jost;
    font-style: normal;
    color: #ECF8FF;
    width: 24.2%;
    height: 35vh;
    border-radius: 12px 12px 12px 12px;
    background: linear-gradient(
        0.0deg,
        #1c2a34 90.36%,
        #111a20 139.58%,
        #111a20 139.58%
      );
      border-left: solid #D9534D;
      border-left-width: 7px;
}
.boxContainer{
    display: flex;
}

.lastDiv{
    margin-top: 10%;
    font-family: Jost;
    font-style: normal;
    height: 53vh;
    border-radius: 12px 12px 12px 12px;
    background: linear-gradient(
        0.0deg,
        #1c2a34 90.36%,
        #111a20 139.58%,
        #111a20 139.58%
      );    
}

.lastDivInner1{
    padding-top: 5%;
    font-weight: bold;
    font-size: 40px;    
    text-align: center;
    color: #B0FBBC;
}

.lastDivInner2{
    font-weight: normal;
    font-size: 14px;
    line-height: 27px;
    text-align: center;
    color: #ECF8FF;
}
.github a{ color: #ECF8FF;}
.dribble a{ color:#EA4C89; }
.twitter a{color: #1DA1F2;}

.chatDiv{
    width: 5.8%;
    height: 4.5vh;
    background: #61DAFB;
    border-radius: 7px 7px 7px 7px;
    /* padding-top: 0.1px;
    padding-bottom: 0.1px;
    padding-left: 0.1px; */

}
.chatSign{
    padding-top: 2%;
    padding-right: 2.5%;

}

.chatButton{
    background: #61DAFB;
}